<!DOCTYPE html>
  <html>
    <head>
      <title>Feedit</title>
      <%= stylesheet_link_tag 'navbar', media: 'all', 'data-turbolinks-track' => true %>
    </head>
  <body>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Edit Settings", edit_user_path %></li>
      <li><%= link_to('Logout', {controller: 'sessions', action: 'destroy'},  method: 'post') %></li>
    </ul>

  </body>
</html>
