<h1> Your Created Subfeeds! </h1>

<% @subfeds.each do |subfeed| %>
    <h2><%= link_to subfeed.title, subfed_url(subfeed) %></h2>
  <% end %>

<%= link_to "Home", users_path %>
<%= link_to "Create New Subfeed", new_subfed_path %>
