<!DOCTYPE HTML>
<html>
<% @posts.each do |post| %>
<Section id="main">
<div class="container">
<div class="col-8 col-12-medium imp-medium">
    <article class="box post">
  <header>
    <h2><%= link_to post.title %></h2>
      <p>This will be a subfed title belonging to post</p>
  </header>
  <ul class="actions">
    <li><%= link_to "Continue Reading", post_url(post), class: "button icon solid fa-file-alt"  %></li>
  </ul>
</article>
</div>
<% end %>
<br>
<%= link_to "Home", users_path %> <%= link_to "Create New Post", new_post_path %>

</html>
