<!DOCTYPE HTML>
<html>
<body class="no-sidebar is-preload">
  <div id="page-wrapper">

    <!-- Header -->
      <section id="header">

        <!-- Logo -->
          <h1>Feddit</h1>

          <!-- Nav -->
            <nav id="nav">
              <ul>
                <li class="current"><%= link_to @user.username, users_path %></li>
                <li><%= link_to "Create New Post", new_post_path %></li>
              </ul>
            </nav>
          </section>

<% @recent_posts.each do |post| %>
<Section id="main">
<div class="container">
<div class="col-8 col-12-medium imp-medium">
    <article class="box post">
  <header>
    <h2><%= link_to post.title %></h2>
      <p>This will be a subfed title belonging to post</p>
  </header>
  <ul class="actions">
    <li><%= link_to "Continue Reading", post_url(post), class: "button icon solid fa-file-alt"  %></li>
  </ul>
</article>
</div>
<% end %>
<br>


</html>
